<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ NEWSROOM_MEDIA_URL }}css/registration.css"></link>
    <title>{% block title %}Digital Newsroom{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>

<body>
<h1>Digital Newsroom</h1>
<div class="wrapper">
<div id="content">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>
