<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
	<link rel="stylesheet" type="text/css" media="all" href="{{ NEWSROOM_MEDIA_URL }}css/main.css"></link>
    <script type="text/javascript" src="{{ NEWSROOM_MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="{{ NEWSROOM_MEDIA_URL }}js/collapse-fieldsets.js"></script>
    <title>{% block title %}Digital Newsroom{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>

<body>
<div class="wrapper">
<div id="nav" class="{% block navclass %}{% endblock %}">
{% block nav %}
{% endblock %}
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>
